.demo-block{
  text-align: center;
}
.region-content {
    min-height: 300px;
  }

.main-container{
  padding-top: 60px;
}

.nav li > a:hover{
  background: transparent;
}

.more-link a{
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  padding: 8px 70px;
  border: 1px solid #009fff;
  border-radius: 20px;
  -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -o-transition: all 0.5s;
  transition: all 0.5s;
}
.more-link a:hover{
  background: #009fff;
  color: #FFF;
  text-decoration: none;
  -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -o-transition: all 0.5s;
  transition: all 0.5s;
}



/*node page*/
.title-bottom-border{
border-bottom: 1px solid #c4c3cc;
}

/*nodepage end*/
.footer-bottom nav li{
  display: inline-block;
}

.footer-bottom nav li a{
  display: block;
  padding: 4px 20px 4px 0;
}


/* search page */

.search-row{
padding-bottom: 9px;
font-size: 2rem;
}

/* search page */


/* search box */


@media (min-width: 767px) {
  #edit-submit-solr-search-content{
    display: none;
  }

  #views-exposed-form-solr-search-content-page-1{
    margin-top: 7%;
    margin-right: 5%;
  }

}

.input-group-addon{
  display: none;
}

/* search-box */



/* top head region */
.top_head{
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 20px;
    padding-top: 20px;
}