
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 10px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  border-radius: 40px;
  -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -o-transition: all 0.5s;
  transition: all 0.5s;
}
#back2Top:hover {
  background-color: #2b45f1;
  color: #ffffff;
  -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -o-transition: all 0.5s;
  transition: all 0.5s;
}

.demo-block{
  text-align: center;
}
.region-content {
    min-height: 300px;
    padding-bottom: 25px;
  }

.main-container{
  padding-top: 40px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}


.more-link a{
  float: right;
  color: #9b9797;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -o-transition: all 0.5s;
  transition: all 0.5s;
}
.more-link a:hover{
  -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -o-transition: all 0.5s;
  transition: all 0.5s;
}


/* facets */

section.block-facet-blockdepartment-technologies .facets-widget-checkbox{
  border-bottom: 1px solid #aeaeae;
  padding-bottom: 20px;
}
section.block-facet-blockdepartment-fa .facets-widget-checkbox {
  border-bottom: 1px solid #aeaeae;
  padding-bottom: 20px;
}
  section.block-facets {
    border-right: 1px solid #aeaeae;
   padding-bottom: 20px;
  }

  section.block-facets .block-title {
    padding-left: 10px;
    font-family: 'merriweather',serif;
    font-size: 16px;
    margin-top: 0px;
  }

 section.block-facets a.facets-soft-limit-link{
  color: #655e5e;
  font-weight: bold;
  padding-left: 10px;
}

.facets-widget-checkbox ul{
  list-style-type: none;
  padding-left: 10px;

}

.facets-widget-checkbox .facet-item label {
  padding-left: 5px;
  display: inline;
}


.block-facet--checkbox{
  padding-bottom: 5px;
  line-height: 15px;
}

.facet-item__value{
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}

.facet-item__count{
  font-size: 13px;
}

.filter-type input[type="checkbox"] {
    width: 13px;
    height: 13px;
  }

  /* facets */


/*node page*/

.field-label-inline{
  display:inline;
}

.field-label-above{
  display: block;
}
.title-bottom-border{
border-bottom: 1px solid #c4c3cc;
}

h2.page-title{
  color:#5d5454;
  font-family:'Merriweather',serif;
  text-transform: capitalize;
  font-size: 20px;
}
  /* h2.page-title:before {
    content: "";
    display: block;
    background-color: #6c8f6c;
    height: 43px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 5px;
} */

@media screen and (max-width: 700px ){
h2.page-title{
  font-size: 14px;
  }
  .main-container {
    padding-top: 10px;
  }
}
.region-content .slick{
  background: #f7f6f6;
  /* border: 1px solid #b4c4ca; */
}
.region-content .slick img { 
    width: 80%;
    height:400px;
}

@media screen and (max-width: 767px){
  .region-content .slick img{
    height:260px;
  }
  ul.tabs--primary li a{
    font-size: 12px;
    padding: 5px 5px;
  }
}

@media screen and (max-width: 500px){
  .region-content .slick img{
    height:200px;
  }
  }
/*nodepage end*/

/* award page */
#block-exposedformall-awardspage-1 a.bef-link-active{
  color: #ffffff!important;
  background: #4a5c68d1;
  font-weight: bold;
  padding: 4px;
  border-radius: 5px;
}

#block-exposedformall-awardspage-1 a.bef-link-active:hover{
  text-decoration: none;
}
#block-exposedformall-awardspage-1 .js-form-item-term-node-tid-depth a{
  color: #3b4145;
}

.js-form-item-field-award-year-target-id .chosen-container-single{
  padding: 0px;
  height: 27px!important;
}

.js-form-item-field-award-year-target-id .chosen-container-single .chosen-single{
border :none;
}

.js-form-item-field-award-year-target-id{
  margin-bottom: 15px!important;
}

.js-form-item-field-award-year-target-id .control-label{
  color: #4a6568;
  font-size: 16px;
}

.js-form-item-term-node-tid-depth .control-label{
  color: #4a6568;
  font-size: 16px;
}

.js-form-item-field-award-year-target-id .select-wrapper:after{
  display: none!important;
}


section.block-views-exposed-filter-blockall-awards-page-1 {
border: 1px solid #25138b;
background-color: white;
border-radius: 5px;
padding: 10px;
margin-bottom: 20px;

box-shadow: #4a6568 3px 6px;
}

/* award page */


/* search page */
.search-row{
  padding-bottom: 3px;
  font-size: 1.6rem;
}

@media screen and (max-width: 767px){
  .search-row{
      font-size: 1rem;
  }
}

.search-item{
  margin-left: 30px;
}


.item-list-search ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-list-search ul li {
  padding-left: 1em; 
  text-indent: -.7em;
  line-height: 1;
}

.item-list-search ul li::before {
  content: "• ";
  color:#1ba74d; /* or whatever color you prefer */
  font-weight: bold;
}

.item-list-search ul li a{
  font-size: 14px;
}
/* search page */


/* search box */

@media (max-width: 767px) {
  #edit-submit-solr-search-content{
    display:inline;
  }

}
 
.navbar-search {
  position: absolute;
  right: 0;
  width: 45em;
}

@media (max-width: 767px) {
 .navbar-search{
  position: relative;
  right: 0;
  width: 100%;
  margin-left: 0;
 }
}


.navbar-search .search-icons {
  position: relative;
  right: 30px;
}

@media(max-width:767px){
  .navbar-search .search-icons{
    display: none;
  }
}

@media(max-width:767px){
  .navbar-search .form-inline{
    display: inline-flex;
  }
}

.navbar-search .search-icons a {
  position: absolute;
  right: 0;
}

.navbar-search .search-icons .close-form {
  display: none;
}

.navbar-search .search-icons a i {
  cursor: pointer;
  float: right;
  width: 36px;
  height: 36px;
  line-height: 37px;
  margin-left: 20px;
  background: #f5f6f8;
  border-radius: 50%;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 23px;
}

.navbar-search .search-block-form {
  position: relative;
  display: none;
}

@media (max-width: 767px) {
  .navbar-search .search-block-form {
    display: block;
  }
}

.navbar-search form {
  position: absolute;
  right: 50px;
  top: 13px;
  width: 30rem;
  z-index: 3;
}


@media screen and (max-width: 767px){
  .navbar-search form{
    position: relative;
    top: 0;
    right: 0;
  }
}

@media (max-width: 767px) {
  .navbar-search form {
    width: 100%;
  }
}
.navbar-search .form-item {
  margin-top: .5em;
}


@media (max-width: 767px){
  .navbar-search .form-item {
    margin-top: 0;
  }
}
.navbar-search .form-control {
  color: #4f4c4c;
  border-radius: 0;
}


@media (min-width: 767px) {
  .navbar-search .form-actions {
    display: none;
  }
}

.input-group-addon{
  display: none;
}

a.open-form{
  font-size: 20px;
}
a.close-form{
  font-size: 20px;
}
/* search-box */



/* top head region */

.top_head{
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 20px;
    padding-top: 20px;
}

/* top head region */


/* research glimpse page grid */
.views-field-field-image-glimpse img{
width: 100%!important;
height: 200px!important;
transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
}

@media screen and (min-width: 767px){
  .views-field-field-image-glimpse img:hover{
  transform:scale(1.05);
  transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;  
  }
}

.glimpse-grid-title a:hover{
  text-decoration: none;
} 
/* research glimpse page grid */