.demo-block{
  text-align: center;
}
.region-content {
    min-height: 300px;
  }

.main-container{
  padding-top: 65px;
}

.nav li > a:hover{
  background: transparent;
}

.more-link a{
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  padding: 8px 70px;
  border: 1px solid #009fff;
  border-radius: 20px;
  -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -o-transition: all 0.5s;
  transition: all 0.5s;
}
.more-link a:hover{
  background: #009fff;
  color: #FFF;
  text-decoration: none;
  -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -o-transition: all 0.5s;
  transition: all 0.5s;
}



/*node page*/
.title-bottom-border{
border-bottom: 1px solid #c4c3cc;
}

/*nodepage end*/
.footer-bottom nav li{
  display: inline-block;
}

.footer-bottom nav li a{
  display: block;
  padding: 4px 20px 4px 0;
}
