/*-------------------------------------------------------*/
/* Table of Content
1. General
2. Typography
3. Reuseable
4. Navigation
5. Publicaton
6. Site Page & Section
7. Footer
*/


html {
  height: 100% }

@media (max-width: 768px) {
  html {
    font-size: 14px; } }

body {
  position: initial;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
  background-color: #ffffff;
  /* line-height: 1.788; */
  line-height: 1.55;
  color: #3f3f3f;
  font-weight: 400;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.41398;
  font-weight: 700; }

h2 {
  font-size: 28px;
}

.lowercase{
  text-transform: lowercase!important;
}

.uppercase{
  text-transform: uppercase!important;
}

.capitalize {
  text-transform: capitalize!important;
}

.grey{
  color: grey!important;
}

.dark-grey{
  color:#333434;
}


/* align item */
.pos-y_center {
  position: relative;
  width: 100%;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%); }

/* image */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale"); }

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */ }

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(47%) brightness(44%); }

/* text */
.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }


body .pt_60 {
  padding-top: 60px; }

body .mt_5 {
  margin-top: 5px; }

body .mt_10 {
  margin-top: 10px; }

body .mt_15 {
  margin-top: 15px; }

body .mt_20 {
  margin-top: 20px; }

body .mt_25 {
  margin-top: 25px; }

body .mt_30 {
  margin-top: 30px; }

body .mt_35 {
  margin-top: 35px; }

body .mt_40 {
  margin-top: 40px; }

body .mt_45 {
  margin-top: 45px; }

body .mt_50 {
  margin-top: 50px; }

body .mt_55 {
  margin-top: 55px; }

body .mt_60 {
  margin-top: 60px; }

body .mt_65 {
  margin-top: 65px; }

body .mt_70 {
  margin-top: 70px; }

body .mt_75 {
  margin-top: 75px; }

body .mt_80 {
  margin-top: 80px; }

body .mt_85 {
  margin-top: 85px; }

body .mt_90 {
  margin-top: 90px; }

body .mt_95 {
  margin-top: 95px; }

body .mt_100 {
  margin-top: 100px; }

body .mb_5 {
  margin-bottom: 5px; }

body .mb_10 {
  margin-bottom: 10px; }

body .mb_15 {
  margin-bottom: 15px; }

body .mb_20 {
  margin-bottom: 20px; }

body .mb_25 {
  margin-bottom: 25px; }

body .mb_30, .mb-30 {
  margin-bottom: 30px; }

body .mb_35 {
  margin-bottom: 35px; }

body .mb_40 {
  margin-bottom: 40px; }

body .mb_45 {
  margin-bottom: 45px; }

body .mb_50 {
  margin-bottom: 50px; }

body .mb_55 {
  margin-bottom: 55px; }

body .mb_60 {
  margin-bottom: 60px; }

body .mb_65 {
  margin-bottom: 65px; }

body .mb_70 {
  margin-bottom: 70px; }

body .mb_75 {
  margin-bottom: 75px; }

body .mb_80 {
  margin-bottom: 80px; }

body .mb_85 {
  margin-bottom: 85px; }

body .mb_90 {
  margin-bottom: 90px; }

body .mb_95 {
  margin-bottom: 95px; }

body .mb_100 {
  margin-bottom: 100px; }


body .lh_5{
  line-height: 5px;
}
body .lh_10{
  line-height: 10px;
}
body .lh_15{
  line-height: 15px;
}
body .lh_20{
 line-height: 20px;
}


/* title style and size*/
.fw-mid {
  font-weight: 600; }

.fw-bold {
  font-weight: 800; }

/* button */

/* .btn {
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  font-size: 16px;
  font-size: 1rem; } */

.btn-outline {
  background: transparent;
  background-image: none;
  border-color: #257ab8;
  box-shadow: none;
  outline: none; }



.read-more {
  text-decoration: underline; }
select:focus,
input:focus,
textarea:focus,
button:focus {
  outline: none;
}



/* --------------------------------
 Navigation
-------------------------------- */
.navbar-nav {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.navbar-right .dropdown-menu {
  right: auto;
  left: -1px; }

/* .navbar-brand {
  height: auto;
  padding: 19px 15px;
} */
.menu-padding {
    padding: 10px 0;
}

@media (max-width: 767px) {

  .navbar-toggle{
    margin-top: 10px;
    padding: 6px 10px;
    color:#ffffff;
  }
  .navbar-white{
    box-shadow: none;
  }
  .navbar.navbar-kawsa{
    padding-bottom: 0;
    min-height: 72px;
    padding: 10px 0;
  }
  
  .navbar-kawsa .nav-btn-wrap {
    display: none; } }

.navbar-nav-hov_underline .navbar-nav li.active a {
  background: transparent;
  border-bottom: 4px solid #D30015; }

@media (max-width: 767px) {
  .navbar-nav-hov_underline .navbar-nav li.active a {
    border-bottom-width: 2px; } }

.navbar-nav-hov_underline .navbar-nav li a {
  border-bottom: 4px solid transparent;
  color: #000; }
@media (max-width: 767px) {
  .nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
    background-color: transparent;
    border-color: inherit;
  }

  .navbar-nav-hov_underline .navbar-nav li ul.dropdown-menu{
    width: 100%;
  }
  .navbar-nav-hov_underline .navbar-nav li ul.dropdown-menu li a{
    background: transparent;
    display: block;
  }
  .navbar-nav-hov_underline .navbar-nav li ul.dropdown-menu li a:hover, .navbar-nav-hov_underline .navbar-nav li ul.dropdown-menu li a:focus{
    background: transparent;
    border-bottom: 4px solid #D30015; }
}
  .navbar-nav-hov_underline .navbar-nav li a:hover, .navbar-nav-hov_underline .navbar-nav li a:focus {
    background: transparent;
    border-bottom: 4px solid #D30015; }
.navbar-nav-hov_underline .navbar-nav .dropdown-menu {
  font-size: inherit;
  border-radius: 0;
  padding: 0;
  border: 0;
  min-width: 210px; }
  .navbar-nav-hov_underline .navbar-nav .dropdown-menu:before {
    content: '';
    position: absolute;
    top: -5px;
    width: 100%;
    height: 5px;
    background-color: #D30015; }
  @media (max-width: 767px) {
    .navbar-nav-hov_underline .navbar-nav .dropdown-menu:before {
      display: none; } }
  .navbar-nav-hov_underline .navbar-nav .dropdown-menu li a {
    padding: 10px 15px;
    border-bottom: 1px solid #eef0f1; }
    .navbar-nav-hov_underline .navbar-nav .dropdown-menu li a:hover {
      color: #D30015; }
  .navbar-nav-hov_underline .navbar-nav .dropdown-menu li.active a {
    color: #D30015; }

@media (max-width: 767px) {
  .navbar-nav {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.24);
    margin-bottom: 3px; } }



/*main navigation dropdown*/

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  padding: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
content:"\e250";
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-size: 10px;
float: right;
margin-top: 5px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: right;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: 100%;
  margin-left: 0px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.navbar-nav li:last-child > .dropdown-menu a {
text-align: left;
}
.navbar-nav li:last-child > .dropdown-menu .dropdown-submenu > a:after {
float: right;
content:"\e250";
}
.navbar-nav li:last-child > .dropdown-menu .dropdown-submenu > .dropdown-menu {
left: 100%;
}
/*main navigation dropdown end*/


/*header*/

#navbar {
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .navbar-fixed-top{
    z-index: 10;
  }
  #navbar.is-hidden {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  .navbar-brand {
    height: auto;
    padding: 30px 100px;
    font-size: 3rem;
    font-weight: bold;
    line-height: 25px;
    color: #006699!important;
    font-family: 'Oswald', 'Lucida Sans Unicode','Lucida Grande',sans-serif;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
  transition: all 0.5s;
  }
  a.navbar-brand:hover{
    color: #666!important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
  transition: all 0.5s;
  }

  a.logo{
    width: 6em;
  }
  a.logo2{
    padding-left: 1px;
  }
  .sec-logo{
    display: inline;
    max-width: 8em;
  }
  .navbar-text {
    width: 8em;
    font-weight: normal;
    font-size: 16px;
    margin-left: 0px;
    margin-top: 7px;
    font-family: 'Oswald', 'Lucida Sans Unicode','Lucida Grande',sans-serif;
  }
  .navbar-toggle {
    background: #262628;
  }

  .navbar-toggle:hover{
    background: #333434!important;
    cursor: pointer;
  }

  .navbar-toggle:focus{
    background: #333434!important;
  }
  .navbar-nav {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    /* padding-top: 20px; */
  }

  .form-control:focus {
    border-color: #0478d6;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(74, 65, 65, 0.075), 0 0 8px #277dd6;
    box-shadow: inset 0 1px 1px rgba(74, 65, 65, 0.075), 0 0 8px #277dd6;
  }
 
  
   
  /*header end*/



/*login-form-start*/

.user-login-form,
.user-form,
.user-pass{
  max-width: 650px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 10px 30px;
  background: #FBFBFB;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text{
  width: 100%;
}
/* login form end */

/* top box front page */

#main-wrap {
  padding-top: 24px;
  width: 100%;
  height:100%;
  /* background: url(../img/research.jpg) fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.top-head{
  background: #062d3e;
}
.top-head p {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 20px auto;
  text-align: center;
  color: white;
  text-shadow: 2px 3px 4px #000000;
  font-weight: bold;
}


.top-wrapper{
  padding-left: 0px;
  padding-right: 0px;
}
.top-box-title{
  font-family: initial;
}

.top-box-title:after{
  background-color: #9d9090;
  content: "";
  height: 50px;
  left: 0px;
  position: absolute;
  width: 2px;
  top: 10px;
}

.top_box_bg{
  background-color: #ffffff;
  /* border-radius: 8px; */
}
.box-container{
  position: relative;
}

.box-container img{
  height: 280px;
  width: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1.4px);
}

.link-overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  color: rgba(255,255,255,0);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.link-overlay a{
  color:#cee1eb;
  padding-left: 10px;
  padding-top: 5px;
  display: block;
  text-transform: capitalize;
  font-weight: bold;
  font-family: initial;
  font-size: 16px;
}
.link-overlay a:hover{
color: #ffffff;
text-decoration: none;
}
.box-container:hover .link-overlay {
  bottom: 0;
  height: 100%;
}
.box-container:hover .box-summary {
 display: none;
  -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
  transition: all 0.5s;
}
.box-summary{
    /* background-color: rgba(0,0,0,0.3); */
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 4px 3px 3px black;
    color: white;
    /* padding: 65px; */
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* top box front page */

  

/* research highlights section */
  #research-wrap {
    padding-top: 0px;
    width: 100%;
    /* background: url(../img/event_bg.jpg) fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }


  .research-head{
    font-family: 'Sanchez', serif;
    font-size: 35px;
    font-weight: bold;
    color: #080808;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;
    /* text-shadow: 1px 2px 6px grey; */
  }

  

  .research-head:after{
    content: "";
  display: block;
  height: 4px;
  width: 40px;
  background-color: #2d9f2f;
  margin-top: 15px;
  margin: 0px auto 0px;
  }



.research-highlights{
  background-color:#cef2f2;
  font-family: 'Source Sans Pro','Lucida Sans Unicode','Lucida Grande',sans-serif;
  font-size: 14px;
  min-height: 450px;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}



.rh-title{
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.rh-title a{
  color: #de4d00;
  font-weight: bold;
}

.rh-title a:hover{
  text-decoration: none;
}


.rh-body{
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Source Sans Pro','Lucida Sans Unicode','Lucida Grande',sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  margin-bottom: 15px;
}
.slick-dots{
  width: 100%;
}

.slide__content,
.grid__content {
  width: 100%;
}
.region-research-highlights .slick__arrow{
	top: 40%!important;
	z-index: 2;
}

.research-highlights img{
    width: 100% !important;
    height: 200px!important;
  
  } 


  .slick-arrow::before {
    color: #000000;
    font-size: 4rem;
  }

  .slick-arrow{
    background: #ffffff;
    padding-top: 3px;
  }

  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: transparent;
    outline: none;
    background: #ffffff;
}
  



  p.rh-page-cont-title{
    font-size: 1rem;
    font-weight: bold;
  }

  p.rh-page-cont-title a:hover{
  text-decoration: none;
    color: #a51a04;
  }

  div.rh-all-pg-img img{
    width: 100%;
  }

  /* research highlights section end */


  

/*events and news section*/


  /* #news-title{
    width: 100%;
    font-size: 2rem;
    font-family: 'Sanchez', serif;
    border-bottom: 2px solid;
    color: rgba(1,87,155 ,1);
    margin-bottom: 15px;
    text-shadow: 1px 2px 6px #a291b7;
  }

  #events-title{
    font-family: 'Sanchez', serif;
    font-size: 2rem;
    color: #080808;
    text-align: justify;
    padding-bottom: 10px;
    text-shadow: 1px 2px 6px grey;
}


.event-block-wrap{
	height: 8rem;
}

.event-block-wrap a{
	color: #2d2e2f;
	text-decoration: none;
	font-size: 12px;
	line-height: 1.5;
	font-weight: bold;
	letter-spacing: 0.5px;
	cursor: pointer;
}

.event-block-wrap:hover a{
	color: #9c0c0c;;
	text-decoration: none;
	cursor: pointer;
}

.event-block-wrap span.event-date {
	font-family: "PT Sans",'Helvetica Neue',Arial,Helvetica,sans-serif;
	background: #002147;
	color: #fff;
	float: left;
	padding: 15px 6px;
	margin-right: 9px;
}
 */

.section-header {
  position: relative;
}

#events-wrap{
background: #062d3e;
padding-bottom: 50px;
}

.events-head{
  width: 100%;
  background: #345474;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  font-family: 'Sanchez', serif;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
}


.events-head:after{
content: "";
  display: block;
  height: 4px;
  width: 40px;
  background-color: #2d9f2f;
  margin-top: 15px;
  margin: 10px auto 0px;
}


.event-date {
font-family: "PT Sans",'Helvetica Neue',Arial,Helvetica,sans-serif;
 font-size: 30px;
  font-weight: bold;
  color: #2d9f2f;
  line-height: 1.3;
}

.event-loc{
color: #ffffff;
padding-top: 7px;
}

.event-loc:before{
  background-color: #ffffff;
  content: "";
  height: 68px;
  left: 0px;
  position: absolute;
  width: 1px;
}

.event-title{
color: #ffffff;
padding-bottom: 5px;
}

.event-title a{
color: #ffffff;
font-size: 20px;
font-weight: bold;
}

.event-title a:hover{
text-decoration: none;
color: #fefefe;
}
.event-info{
color: #ffffff;
}


#news-wrap{
padding-bottom: 40px;
}

.news-head{
   width: 100%;
  background: #d6d7d9;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  font-family: 'Sanchez', serif;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
}


.news-head:after{
content: "";
  display: block;
  height: 4px;
  width: 40px;
  background-color: #2d9f2f;
  margin-top: 15px;
  margin: 10px auto 0px;

}

.news-title{
color: #000000;
padding-bottom: 5px;
text-align: center;
}

.news-title a{
color: #000000;
font-size: 20px;
font-weight: bold;
text-align: center;
}

.news-info{
  text-align: justify;
 background: -webkit-linear-gradient(#000000, #eeeeee);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.news-read-more{
text-align: center;
}

.news-read-more a{
font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #2d9f2f;
  padding: 6px;
  border: 2px solid #2d9f2f;
  border-radius: 7px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.news-read-more a:hover{
background: #2d9f2f;
color: #ffffff;
text-decoration: none;
-webkit-transition: all 0.5s;
 -moz-transition: all 0.5s;
 -o-transition: all 0.5s;
transition: all 0.5s;
}

.view-ircc-news .view-content{
  padding-bottom: 15px;
}
 /*events and news section*/


/************************************************************
*************************Footer******************************
*************************************************************/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {
    /* background:#e0edef; */
  background: #062d3e;
  color: #b2bbc0;
	padding-top: 40px;
	padding-right: 0;
	padding-bottom: 20px;
  padding-left: 0;
  /*	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #003;*/
}


.footer1 h2.block-title{
  color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 0;
	padding-left: 28px;
}

.footer1 h2.block-title::before{
  background-color: #ea5644;
  content: "";
  height: 22px;
  left: 0px;
  position: absolute;
  top: -2px;
  width: 5px;
}

.title-widget {
  /* color: #898989; */
  color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 0;
	padding-left: 28px;
}

.title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}


.widget_nav_menu li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
	position: relative;
    text-transform: uppercase;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 0;
    padding-bottom: 0;
	width:95%;
}
.widget_nav_menu li a{
  padding: 6px 0px;
  color: #b2bbc0;
}

.widget_nav_menu li a:hover {
  color:#ffffff;
}
.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
}

.footerp p {
  font-family: 'Gudea', sans-serif; 
}


#social:hover {
    			-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-o-transform:scale(1.1);
			}
			#social {
				-webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
			}
/*
    Only Needed in Multi-Coloured Variation
                                               */
			.social-fb:hover {
				color: #3B5998;
			}
			.social-tw:hover {
				color: #4099FF;
			}
			.social-gp:hover {
				color: #d34836;
			}
			.social-em:hover {
				color: #f39c12;
			}
			.nomargin { 
        margin:0px; 
        padding:0px;
      }



.footer-bottom {
    /* background-color: #006699; */
    background-color: #1a9239;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}


.footer-bottom ul.menu li:first-child {
  border-left: none !important;
}

.footer-bottom ul.menu li{
  display: inline-block;
  border-left: 1px dotted #E5E5E5;
}

.footer-bottom nav li a{
  display: inline;
  padding: 5px 5px;
}

.footer-bottom nav li a:hover{
  color: #a0ebea;
}


 .footer1 .nav > li > a:hover, .footer1 .nav > li > a:focus {
  background: transparent;
}
.footer-bottom nav li > a:hover, .footer-bottom nav li > a:focus{
  background: transparent;
  /* color: #e78710; */
}
.footer-bottom nav li > a:active{
  background: transparent;

}

.footer-bottom .contextual-region .contextual .contextual-links li{
  display: inline-block;
}

ul.social-media-links--platforms li a{
  color:#fefefe;
}


ul.social-media-links--platforms li a:hover{
  color:#a0ebea;
  
}
ul.social-media-links--platforms li{
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
 transition: all 0.5s;
}
ul.social-media-links--platforms li:hover{
  -webkit-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -o-transform:scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.5s;
 -moz-transition: all 0.5s;
 -o-transition: all 0.5s;
transition: all 0.5s;

}
/************************************************************
*************************Footer******************************
*************************************************************/


/* Animation Timers
---------------------------------*/
.delay-02s { 
  animation-delay: 0.2s; 
  -webkit-animation-delay: 0.2s; 
}
.delay-03s { 
  animation-delay: 0.3s; 
  -webkit-animation-delay: 0.3s; 
}
.delay-04s { 
  animation-delay: 0.4s; 
  -webkit-animation-delay: 0.4s; 
}

.delay-05s { 
  animation-delay: 0.5s; 
  -webkit-animation-delay: 0.5s; 
}
.delay-06s { 
  animation-delay: 0.6s; 
  -webkit-animation-delay: 0.6s; 
}

.delay-07s { 
  animation-delay: 0.7s; 
  -webkit-animation-delay: 0.7s; 
}
.delay-08s { 
  animation-delay: 0.8s; 
  -webkit-animation-delay: 0.8s; 
}

.delay-09s { 
  animation-delay: 0.9s; 
  -webkit-animation-delay: 0.9s; 
}
.delay-1s { 
  animation-delay: 1s; 
  -webkit-animation-delay: 1s; 
}
.delay-12s { 
  animation-delay: 1.2s; 
  -webkit-animation-delay: 1.2s; 
}


/* media queries */
@media screen and (max-width: 1200px){
  .navbar-brand{
    /* padding: 10px 10px; */
    margin-left: 28px;
    font-size: 2.5rem;
  }
 
}

@media screen and (max-width: 1000px){
  .sec-logo {
    max-width: 7em
  }
  .navbar-brand {
    padding: 20px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .navbar-text{
    display: none;
  }
  /* .navbar-brand{
    display: block;
  } */
}
@media screen and (max-width: 768px){
  .navbar-brand{
    font-size: 16px;
    padding: 20px;
    font-weight: normal;
    /* margin-left: 58px; */
    float:left;
    text-align: left;
  }
  .sec-logo {
    display: inline;
    max-width: 5em;
    float: right;
  }
    .navbar-brand {
      max-width: 300px;
    }
}

@media screen and (max-width: 450px) {
  .navbar-brand {
    max-width: 165px;
    padding: 0 20px;
    margin-left: 0px;
    font-size: 14px;
  }
}


@media screen and (max-width: 600px) {
  .navbar-brand{
    max-width: 200px;
  }
}
@media screen and (max-width:700px){
  #main-wrap{
    padding-top: 100px;
  }
}
  @media screen and (min-width: 767px){
    .research-highlights:hover{
      transform: scale(1.05);
      transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
    }
  }

  @media screen and (max-width: 600px ){
    .slick-arrow::before{
    font-size: 2.5rem;
    }
  }

  @media screen and (max-width:768px){
    .top-head p{
      font-size: 1.2rem;
    }
    .research-head{   
      font-size: 2rem;
    }
    .news-head {   
      font-size: 2rem;
    }

    .events-head {   
      font-size: 2rem;
    }

    .views-row-news, .views-row-events{
      margin-bottom: 40px;
    }
  }
/* media queries */
